{% load static %}
{% load mainTags %}
{% get_menu as menu %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме сотрудника1</title>
    <link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1>Резюме сотрудника</h1>
        <div class="menu">
            {% for m in menu %}
                <a href="{% url m.url_name %}">{{m.title}}</a>
            {% endfor %}

        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <p>&copy; 2024 Резюме сотрудника</p>
    </div>
</body>
</html>
