{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section>
  <div class="container">
      <div class="row">
        <div class="col-4">

        </div>
          <div class="mb-3 col-md-4 col-sm-12">
              <h2 class="text-center text-uppercase text-secondary mt-5">Связаться со сной</h2>
          </div>

          {% if messages %}
          <div class="row">
            <div class="col-3"></div>
                {% for message in messages %}
                <div class="col-md-6 mt-4 col-12">
                  <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <div class="text-center">
                      <li  {% if message.tags %} class="{{ message.tags }} " {% endif %}> {{ message }} </li>
                    </div>
                  </div>
                </div>
                {% endfor %}
          </div>
            {% endif %}
      </div>

      <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <form style="width: 26rem;" action="{% url 'contact' %}" method="post">

              {% csrf_token %}
              {% for field in form %}
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form4Example1">{{field.label_tag}}</label>
                {% if field.errors%}
                <div>
                  <small class="error-field">
                    {{field.errors | striptags}}
                  </small>
                </div>
                {% endif %}
                {{field}}
              </div>
              {% endfor %}
                <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox" 
                    value=""
                    id="checkme"
                  />
                  <label class="form-check-label privacy-text" for="form4Example4">
                    Я согласен(а) с <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">политикой конфиденциальности</a>
                  </label>
                </div>
                <button disabled data-mdb-ripple-init type="submit" id="sendNewSms" class="btn btn-primary btn-block mb-4 btn-contact">Send</button>
              </form>
        </div>
       </div>
      <hr>
      <div class="row ">
          <div class="col-12 mb-3">
              <h2 class="text-center text-secondary mt-2">Контакты</h2>
          </div>
          <div class="col-12 mb-3 d-flex justify-content-center">
              <a class="mx-4" style="color: #55acee;" href="{{ contacts.github }}" role="button"
              ><img class="mr-3 img-social" src="{% static 'main/images/github.svg' %}" alt="Generic placeholder image"></a>

              <a class="mx-4" style="color: #dd4b39;" href="{{ contacts.telegram }}" role="button"
              ><img class="mr-3 img-social" src="{% static 'main/images/telegram.svg' %}" alt="Generic placeholder image"></a>

              <a class="mx-4 "  style="color: #ac2bac;" role="button"
              ><img  class="mr-3 img-social section-symbol" src="{% static 'main/images/envelope-at-fill.svg' %}" alt="Generic placeholder image"></a>
          </div>
      </div>
      <div class="row mt-2 mb-2" >
        <h5 class="text-center text-secondary ">г. {{contacts.location}}</h5>
      </div>
      <p class=" text-center fw-lighter  inform-user-copy"></p>
</section>



<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Политика в отношении обработки персональных данных</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>
    {{contacts.policy | linebreaks}}
  </p>
</div>
</div>
</div>
</div>


<script>
  const myModal = document.getElementById('myModal')
  const myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
  })
</script>
<script>
  var checker = document.getElementById('checkme');
  var sendbtn = document.getElementById('sendNewSms');
  checker.onchange = function() {
    sendbtn.disabled = !this.checked;
  };
</script>

<script data-email="{{contacts.mail}}">
  const data = document.currentScript.dataset;
  var email_to_copy = data.email;
  document.body.onclick = (event) => {
const elem = event.target;
 console.log(elem);
if (elem.classList.contains('section-symbol')) {
    console.log(elem);
    console.log(email_to_copy);
    navigator.clipboard.writeText(email_to_copy)
        .then(() => {
            document.querySelector('.inform-user-copy').innerHTML = 'Email Скопирован в буффер!';
        })
        .catch(err => {
            console.log(err);
        });
}
}

</script>

{% endblock %}