{% extends 'main/base.html' %}

{% block content %}

<div class="contact_div">Свяжитесь со мной</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}


    <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        

        {{ form.as_p }}



        <span class="separator"></span>
        

        <button class="btn-new" type="submit">ОТПРАВИТЬ</button>
    </form>


    <span class="separator"></span>

    
    <hr>
    <ul class="social-media-container">
      <li><a href="{{ contacts.github }}">
        <i class="bi bi-github"></i></a>
      </li>
      <li><a href="{{ contacts.telegram }}">
        <i class="bi bi-telegram"></i></a>
      </li>
      <li><a>
          <p><i class="bi bi-envelope-at"></i>{{contacts.mail}}</p></a>
          <p><i class="bi bi-geo-alt"></i>{{Person.location}}</p></a>
      </li>  
    </ul>
    <hr>


{% endblock %}