{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <section class="preview">
        <div class="container">
            <div class="row-5">
                <div class="col-12">
                    <div>
                        <h1 class="text-center text-white">{{SiteSettings.previewS}}</h1>
                        <p1></p1>
                    </div>
                    <div class="headercontent mt-5">
                      <h1 class="mt-2"><span id="typewriter" class="text-white"></span><span id="cursor">|</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-uppercase text-secondary">Про меня</h2>
                </div>
            </div>
            {% if Person.name and Person.about and  Person.photo %}
            <div class="row">
                <div class="col-xl-9 col-lg-12">
                    <h4>Меня зовут {{Person.name}}</h4>
                    <p>{{Person.about | linebreaks}}</p>
                </div>
                <div class="col-xl-3 col-lg-12 text-center">
                    <img src="{{Person.photo.url}}" alt="Мое Фото" class="img-fluid">
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    <section class="bg2">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center text-uppercase text-secondary">Навыки</h2>
              </div>
            </div>
            {% if Backend is not None or Frontend is not None %}
            <div class="row">
              <h5 class="text-center mt-5 mt-md-4">Hard skills</h5>
              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4">Backend</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for b in Backend %}
                    <li class="list-group-item text-center list-group-item-dark">{{b}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              
              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4">Frontend</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for f in Frontend %}
                    <li class="list-group-item text-center list-group-item-dark">{{f}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}

              <h5 class="text-center mt-5 mt-md-4">Environment</h5>
              {% if Linux is not None or Windows is not None %}
              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4 ">Linux/Debian</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for l in Linux %}
                    <li class="list-group-item text-center list-group-item-dark">{{l}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4 ">Windows</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for w in Windows %}
                    <li class="list-group-item text-center list-group-item-dark">{{w}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}

              {% if Virtualization is not None or Databases is not None %}
              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4">Databases</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for d in Databases %}
                    <li class="list-group-item text-center list-group-item-dark">{{d}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <h5 class="text-center mt-4">Virtualization</h5>
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                    {% for v in Virtualization %}
                    <li class="list-group-item text-center list-group-item-dark">{{v}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
              {% if Softskills is not None %}
              <h5 class="text-center mt-5 mt-md-4">Soft skills</h5>
              <div class="col"></div>
              <div class="col-md-6 col-sm-12">
                <hr class="mx-5">
                <div class="row mx-0 mx-md-5 justify-content-center">
                  <ul class="list-group d-flex flex-row flex-wrap justify-content-center">
                    {% for s in Softskills %}
                    <li class="list-group-item text-center list-group-item-dark">{{s}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col"></div>
            </div>
            {% endif %}

        </div>
    </section>

    <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase text-secondary">Опыт</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              {% if Education %}
              <h5 class="text-center">Образование</h5>
              <div class="row mx-0 mx-md-5 mb-4">
                <div class="list-group justify-content-center d-flex ">
                  {% for e in Education %}
                  <div href="#" class="list-group-item unclickable" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{e.name}}</h5>
                      <small>{{e.dateStart.year}} - {{e.dateEnd.year}}</small>
                    </div>
                    <p class="mb-1">{{e.department}}</p>
                    <small>{{e.info}}</small>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>

            {% if Experience %}
            <div class="col-md-6 col-sm-12">
              <h5 class="text-center">Работа</h5>
              <div class="row mx-0 mx-md-5 mb-4">
                <div class="list-group justify-content-center d-flex ">
                  {% for e in Experience %}
                  <div href="#" class="list-group-item unclickable" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{e.company}}</h5>
                      <small>{{e.dateStart.year}} - {{e.dateEnd.year}}</small>
                    </div>
                    <p class="mb-1">{{e.post}}</p>
                    <small>{{e.info}}</small>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
    </section>

    <div class="btnScrollToTop mb-3" data-scroll="up" type="button">
      <img src="{% static 'main/images/chevron-double-up.svg' %}" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" alt="Scroll to top" />
    </div>

    <div class="cookies-banner hidden">
      Оставаясь на данном сайте, вы соглашаетесь с политикой конфиденциальности и с использованием файлов cookie.
      <button class="mx-1 mx-md-3 my-1 text-white">✖</button>
    </div>

    <script>
      const btnScrollToTop = document.querySelector(".btnScrollToTop");

      btnScrollToTop.addEventListener("click", e => {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth"
        });
      });

      window.addEventListener('scroll', e => {
        btnScrollToTop.style.display = window.scrollY > 20 ? 'block' : 'none';
      });
    </script>
    <script>
      function scrollToTop()
      {
        window.scrollTo(0,0);
      }
    </script>
    <script data-dwords="{{ SiteSettings.previewD }}">
      const data = document.currentScript.dataset;
      var phrases =  data.dwords;
      phrases = phrases.split(', ');
      let typetime = 120;
      let deletetime = 80;
      let fullwtime = 2000;
      let nulltime = 100;
    </script>
    <script src="{% static 'main/js/coociesbanner.js' %}"></script>
    <script src="{% static 'main/js/TypeWriter.js' %}"></script>


{% endblock %}